<%- include("header.ejs", {
    "mode": "home", 
    "host": host,
    "userSession": userSession,
    meta
    }) -%>


<script src="../js/ui/ui.js"></script>
<script src="../js/ui/matches.js"></script>
<script src="../js/ui/home.js"></script>

<div id="root">
    <%
       if(message !== null){

            let messageContent = "";
            let messageClass = "";

            if(message === "account-created"){

                messageContent = `Your account has been created, you have to wait for an admin to activate your account before you can login.`;
                messageClass = "team-green";

            }else if(message === "banned"){

                messageContent = `You have been banned from login attempts due to too many failed login attempts, please try again later.`;
                messageClass = "team-red";

            }else if(message === "already"){

                messageContent = `You are already logged in.`;
                messageClass = "team-red";

            }else if(message === "login"){

                messageContent = `You have logged in successfully`;
                messageClass = "team-green";

            }else if(message === "logout"){
                
                messageContent = `You have successfully logged out`;
                messageClass = "team-green";
            }

            %> 
            <div class="box <%= messageClass %>">
                <%= messageContent %> 
            </div>
            <%
       }
    %>
</div>
<script src="js/MatchScreenshot.js"></script>
<script>
    
    <% 

    for(let i = 0; i < pageLayout.length; i++){

        const settingKey = pageLayout[i];

        if(pageSettings[`Display ${settingKey}`] === "1"){

            const displayKey = [`Display ${settingKey}`];

            switch(settingKey){

                case "Welcome Message": {

                    if(welcomeMessageSettings !== undefined){

                        %>
        
                            const welcomeTitle = "<%= welcomeMessageSettings["Welcome Title"] %>";
                            const welcomeContent = "<%= JSON.stringify(welcomeMessageSettings["Welcome Message"]) %>";
                            renderWelcomeMessage("#root", welcomeTitle, welcomeContent);
                        <%
                    }
                } break;

                case "Recent Matches": {
                    %>
                        const recentMatchesData = <%- JSON.stringify(recentMatches) %>;  
                        homeRenderRecentMatches("#root", recentMatchesData); 
                    <%

                } break;

                case "Social Media": {
                    %>
                        renderSocials("#root", <%- JSON.stringify(socialSettings) %>);
                    <%
                } break;

                case "Servers": {
                    %>
                        renderServerList("#root", <%- JSON.stringify(serversList) %>);
                    <%
                } break;

                case "Most Played Gametypes": {
                    %>
                        homeRenderMostPlayedGametypes("#root", <%- JSON.stringify(mostPlayedGametypes) %>);
                    <%
                } break;

                case "Most Played Maps": {
                    %>
                        homeRenderMostPlayedMaps(
                            "#root", 
                            <%- JSON.stringify(mostPlayedMaps) %>, 
                            "<%= pageSettings["Most Played Maps Display Mode"] %>"
                        );
                    <%
                } break;

                case "Activity Heatmap": {

                    %>new UICalendarHeatMap("#root", "Activity HeatMap", 0,0,"<%= pageSettings["Activity Heatmap Default Mode"]%>");<%
                } break;

                case "Latest Screenshot": {
                    %>new UIMatchScreenshot("#root", <%- JSON.stringify(screenshotData) %>, true);<%
                } break;
            }
        }
    }
    %>

</script>
<%- include('footer.ejs') -%>