<%- include("header.ejs", {
        "mode": "maps", 
        meta,
        host,
        userSession
    });
-%>
<script src="../js/ui/ui.js"></script>
<script src="../js/ui/matches.js"></script>
<script src="../js/ui/maps.js"></script>
<div class="header-wrapper">
    <%= basic.name %>
</div>
<div id="root">
</div>
<script>
    const validTypes = <%- JSON.stringify(validTypes) %>;
    const pageSettings = <%- JSON.stringify(pageSettings) %>;
    const ctfLeagueSettings = <%- JSON.stringify(ctfLeagueSettings) %>
    <%
    for(let i = 0; i < pageOrder.length; i++){

        const key = pageOrder[i];
        const settingKey = `Display ${key}`;

        if(pageSettings[settingKey] !== "1") continue;

        switch(settingKey){

            case "Display Map Screenshot": {
                %>UIMapImage("#root", "<%= basic.image %>");<%
            } break;

            case "Display Basic Summary":{
                %>UIMapBasicSummary("#root", <%- JSON.stringify(basic) %>);<%
            } break;

            case "Display Weapon Statistics": {
                %>UIMapWeaponsSummary("#root", <%- JSON.stringify(weaponStats) %>);<%
            } break;

            case "Display Rankings": {
                %>new UIMapPlayerRankings("#root", "<%= basic.id %>");<%
            } break;

            case "Display CTF League": {
                %>new UIMapCTFLeague("#root", "<%= basic.id %>", pageSettings, ctfLeagueSettings);<%
            } break;

            case "Display Recent Matches": {
                %>new UIMapRecentMatches("#root", "<%= basic.id %>");<%
            } break;

            case "Display Player Top Averages": {
                %>new UIMapPlayerAverages("#root", "<%= basic.id %>", validTypes);<%
            }  break;
        }
    }
    %>
</script>
<%- include("footer.ejs") -%>