
<%- include("header.ejs", {
    "mode": "maps", 
    meta,
    host,
    userSession
    }) -%>


<script src="../js/ui/ui.js"></script>
<script src="../js/ui/maps.js"></script>

<div class="header-wrapper">
    Maps
</div>

<div id="root">
</div>

<script>
    const searchForm = new MapsSearchForm(
        "#root", 
        "<%= nameSearch %>", 
        "<%= displayMode %>", 
        "<%= page %>",
        "<%= perPage %>",
        <%- JSON.stringify(maps) %>,
        <%= parseInt(totalMatches) %>
    );   
</script>


<%- include("footer.ejs") -%>