
<%- include("header.ejs", {
    "mode": "maps", 
    meta,
    host,
    userSession
    }) -%>


<script src="../js/ui/ui.js"></script>
<script src="../js/ui/maps.js"></script>

<div class="header-wrapper">
    Maps
</div>

<div id="root">
</div>

<script>
    const searchForm = new MapsSearchForm("#root", "<%= nameSearch %>", "<%= displayMode %>", "<%= perPage %>");
    const display = new MapListDisplay(
        "#root", 
        <%- JSON.stringify(maps) %>, 
        <%= totalMatches %>, 
        "<%= nameSearch %>", 
        "<%= displayMode %>",
        "<%= page %>", 
        "<%= perPage %>"
    );
</script>


<%- include("footer.ejs") -%>