<%- include("header.ejs", {
    "mode": "match", 
    "meta": meta,
    "host": host,
    userSession
    }) -%>
<script src="../js/ui/ui.js"></script>
<script src="../js/ui/match.js"></script>
<script src="../js/matchScreenshot.js"></script>
<script src="../js/ui/canvas-graphs.js"></script>
<div id="root"></div>
<script>
    const basic = <%- JSON.stringify(data.basic) -%>;
    const playerData = <%- JSON.stringify(data.playerData) -%>;
    const parsedData = <%- JSON.stringify(data) -%>;
    const basicPlayers = parsedData.basicPlayers;
    const classicWeaponData = <%- JSON.stringify(classicWeaponStats) -%>;
    <%
    for(let i = 0; i < pageLayout.length; i++){

        const pageKey = pageLayout[i];
        const settingKey = `Display ${pageKey}`;

        if(pageSettings[settingKey] === undefined) throw new Error(`Page setting not found = ${settingKey}`);

        if(pageSettings[settingKey] === "0") continue;

        switch(settingKey){

            case "Display Basic Info": {

                %>renderBasicInfo("#root", basic, basicPlayers);<%

            } break;

            case "Display Screenshot": {

                %>UIMatchScreenshot("#root", parsedData);<%

            }  break;

            case "Display Frags": {

                %>renderFragsTables("#root", basic.total_teams, playerData);<%

            } break;

            case "Display DOM": {

                %>new MatchDominationSummary("#root", basic.total_teams, parsedData);<%

            } break;

            case "Display CTF": {

                %>renderCTFSummary("#root", basic.total_teams, parsedData.ctf, basicPlayers);<%

            } break;

            case "Display CTF Caps": {

                %>new CTFCaps("#root", basic.total_teams, parsedData.ctf, basicPlayers);<%

            } break;

            case "Display Special Events": {

                %>renderSpecialEvents("#root", basic.total_teams, playerData);<%

            } break;

            case "Display Weapons": {

                %>new MatchWeaponSummary("#root", parsedData.weaponStats, basicPlayers, basic.total_teams, basic.playtime);<%

            } break;

            case "Display Classic Weapon Stats": {

                %>new MatchClassicWeaponStats("#root", classicWeaponData, parsedData.weaponStats.names, basicPlayers, basic.total_teams);<%

            } break;

            case "Display Damage Stats": {

                %>new MatchDamageSummary("#root", playerData, basic.total_teams);<%

            } break;


            case "Display Items": {

                %>new MatchItemsSummary("#root", playerData, basic.total_teams);<%

            } break;

            case "Display Kills": {

                %>new MatchKillsGraph("#root", basic, basicPlayers);<%
                %>new MatchKillsMatchUp("#root", parsedData.kills, basicPlayers, basic.total_teams);<%

            } break;

            case "Display Pings": {
                %>renderMatchPings("#root", playerData, basic.total_teams);<%

            } break;
        }
    }
    _%>
</script>
<%- include("footer.ejs") -%>