<%- include("header.ejs", {
    "mode": "match", 
    meta,
    host,
    userSession
    }) %>

<script src="../js/ui/ui.js"></script>
<script src="../js/ui/matches.js"></script>

<div id="root"></div>
<script>

    new MatchesSearchForm(
        "#root", 
        <%- JSON.stringify(serverNames) %>, 
        <%- JSON.stringify(gametypeNames) %>,
        <%- JSON.stringify(mapNames)%>,
        "<%= selectedServer %>", "<%= selectedGametype %>", "<%= selectedMap %>",
        "<%= displayMode %>"
    );
</script>

<div id="matches"></div>
<script>
    const matchData = <%- JSON.stringify(matches)%>;  

    <% if(displayMode !== "default"){ %>
        renderMatchesTable("#matches", matchData);
    <%}else{ %>
        new MatchesRichView("#matches", matchData);
    <% }
    %>

    renderMatchesPagination(
        document.querySelector("#matches"), 
        <%= selectedServer %>, 
        <%= selectedGametype %>, 
        <%= selectedMap %>, 
        matchData.total, 
        <%= perPage %>, 
        <%= page %>, 
        "<%= displayMode %>"
    );
    
    
</script>



<%- include("footer.ejs") -%>