<%- include("header.ejs", {
    "mode": "players", 
    host,
    meta,
    userSession
    }) -%>

<script src="../js/ui/ui.js"></script>
<script src="../js/ui/players.js"></script>

<div id="root"></div>
<script>
    new PlayersSearchForm("#root", "<%= searchName %>", "<%= sortBy %>", "<%= order %>", "<%= perPage %>", "<%= page %>");
</script>
<%- include('footer.ejs') -%>