
<%- include("header.ejs", {
    "mode": "player", 
    meta,
    host,
    userSession
    }) -%>


<script src="../js/ui/ui.js"></script>
<script src="../js/ui/player.js"></script>

<div id="root">
    <div class="header-wrapper">
        <img class="header-country-flag" src="/images/flags/<%= basicPlayerInfo.country %>.svg" alt="flag"/>
        <%= basicPlayerInfo.name %> Player Profile
    </div>
    <div id="perma-links" class="text-center"></div>
</div>

<script>

    const gametypeTotals = <%- JSON.stringify(gametypeTotals) %>;
    const gametypeNames = <%- JSON.stringify(gametypeNames) %>;
    const weaponTotals = <%-  JSON.stringify(weaponTotals) %>;
    playerPermaLinks("#perma-links", "<%= basicPlayerInfo.hash %>");
    <% 
    for(let i = 0; i < pageLayout.length; i++){

        const key = pageLayout[i];
        const settingKey = `Display ${key}`;
        if(pageSettings[settingKey] === "0") continue;

        switch(settingKey){

            case "Display Gametype Totals": {
                %>playerGametypeTotals("#root", gametypeTotals);<%
            } break;
            case "Display CTF": {
                %>new PlayerCTFSummary("#root", <%- JSON.stringify(ctfTotals) %>);<%
            } break;
            case "Display CTF League": {
                %>new PlayerCTFLeague("#root", <%- JSON.stringify(ctfLeagueData) %>);<%
            } break;
            case "Display Rankings": {
                %>new PlayerRankingSummary("#root", <%- JSON.stringify(rankings) %>);<%
            } break;
            case "Display Special Events": {
                %>new PlayerSpecialEvents("#root", gametypeTotals);<%
            } break;
            case "Display Weapons": {
                %>new PlayerWeaponsSummary("#root", weaponTotals, gametypeNames);<%
            } break;
            case "Display Items": {
                %>new PlayerItemsSummary("#root", gametypeTotals);<%
            } break;
            case "Display Recent Matches": {
                %>const rm = new PlayerRecentMatches("#root", <%= playerId %>, gametypeNames, <%- JSON.stringify(mapNames) %>);<%
            } break;
            case "Display Activity Heatmap": {
                %>new UIPlayerActivityHeatmap("#root", {
                    "gametype": 0,
                    "map": 0,
                    "header": "Activity Heatmap",
                    "jsonURL": "../json/player-activity-heatmap-data/",
                    "player": <%= basicPlayerInfo.id %>,
                    "defaultMode": "<%= pageSettings["Activity Heatmap Default Mode"] %>"
                });<%
            } break;
        }
    }
    %>
</script>
<%- include("footer.ejs") -%>